@import 'light.scss';
@import 'dark.scss';

.glarity--container {
  margin-bottom: 30px;
  flex-basis: 0;
  flex-grow: 1;
  z-index: 1;
  box-sizing: border-box;
  width: var(--rhs-width);
  min-width: var(--rhs-width);
  max-width: 100%;

  &.glarity--chatgpt--youtube {
    width: var(--ytd-watch-flexy-sidebar-width);
    min-width: var(--ytd-watch-flexy-sidebar-min-width);
  }

  .glarity--chatgpt {
    border: 1px solid;
    border-radius: 8px;
    padding: 6px 10px 0;
    line-height: 1.5;
    word-wrap: break-word;
    // word-break:break-all;
  }

  &.sidebar--free {
    margin-left: 30px;
    height: fit-content;
  }

  p {
    margin: 0;
  }

  a.gpt-promotion-link {
    &:hover {
      text-decoration: none;
    }
    a:visited {
      color: inherit;
    }
  }

  .icon-and-text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  #gpt-answer.markdown-body.gpt-markdown {
    font-size: 15px;
    line-height: 1.6;

    pre {
      margin-top: 10px;
    }

    & > p:not(:last-child) {
      margin-bottom: 10px;
    }

    pre code {
      white-space: pre-wrap;
      word-break: break-all;
    }

    pre code.hljs {
      padding: 0;
      background-color: transparent;
    }

    ol li {
      list-style: disc;
    }

    img {
      width: 100%;
    }

    a {
      text-decoration: underline;
      &:visited {
        color: unset;
      }
    }
  }

  .glarity--chatgpt--header {
    margin-top: -42px !important;
    margin-left: 50%;
    margin-bottom: 10px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 5px;

    .gpt--feedback {
      margin-left: auto;
      display: flex;
      gap: 6px;
      cursor: pointer;
    }

    .gpt--feedback--selected {
      color: #ff6347;
    }
  }
}

.glarity--summary--highlight {
  color: red;
}
.glarity--header {
  // position: relative;
  // z-index: 10;
  display: flex;
  padding: 2px 0 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

a.glarity--header__logo {
  margin-right: 6px;
  height: 20px;
  color: #000;
  text-decoration: none;
  line-height: 20px;

  &:visited {
    color: #000;
  }

  img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}

.glarity--main {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 12px;
  border-top: 1px solid rgb(221, 221, 221);
}
.glarity--main__header {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid rgb(221, 221, 223);

  a {
    color: #333;
  }
}
.glarity--main__header--title {
  font-weight: bold;
  cursor: pointer;
}

.glarity--main__header--icon {
  cursor: pointer;
}

.glarity--main__header--action {
  a {
    display: inline-block;
    margin-left: 5px;
  }
}

.glarity--main__container {
  position: relative;
  z-index: 30;
  padding: 10px 0 10px;
  font-size: 14px;
  color: #444;

  &.glarity--main__container--subtitle {
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
  }
}

.glarity--subtitle {
  display: flex;
  justify-content: left;
  align-items: baseline;
  grid-template-columns: auto auto;
  gap: 0px;
  margin: 0px 0px 16px;

  .subtitle--time {
    padding-right: 10px;
    color: var(--yt-spec-call-to-action);
    background-color: var(--yt-spec-suggested-action);
    padding: 0 4px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
  }
  .subtitle--text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
