@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #0070f3;
$secondary-color: #000;
$gray-color: #444;
$font-size-large: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$border-color: rgba(5, 5, 5, 0.06);

// card
.glarity--card {
  font-size: $font-size-normal;
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
  border-radius: 6px !important;
  background: #fff;

  .glarity--card__head {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
    font-size: $font-size-large;
    cursor: move;

    .glarity--card__head--title {
      display: inline-flex;
      align-items: center;
      font-weight: bold;

      .glarity--btn {
        margin-left: 4px;
      }

      a {
        display: inline-flex;
        text-decoration: none;
        color: #000;
        align-items: center;
      }

      img {
        margin: 0 4px 0 0;
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }
  }

  .glarity--card__content {
    position: relative;
    padding: 15px;
    color: #333;
    line-height: 1.6;
    max-height: 500px;
    overflow-y: auto;
    overflow-wrap: break-word;
    min-height: 50px;
    // cursor: auto;

    .glarity--container {
      margin-bottom: 0;

      .glarity--chatgpt {
        border: none;
        padding: 0;
      }

      .glarity--footer__tips {
        padding: 10px 0;
        font-size: 12px;
        color: #666;
      }
    }
    .glarity--card__content--head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .glarity--card__empty {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      display: flex;
      padding: 6px 16px;
      text-align: center;
      justify-content: center;
      align-items: center;
      min-height: 70px;
    }

    .glarity--card__content--body {
      font-size: 12px;
      line-height: 1.6;
    }

    .glarity--card__content--title {
      margin: 0 0 8px;
      padding: 0;
      font-size: 14px;
      font-weight: bold;

      &.glarity--card__content--title__summary {
        margin-bottom: -20px;
      }
    }

    .glarity--card__content--text {
      height: 60px;
      overflow: hidden auto;
    }

    .glarity--container #gpt-answer.markdown-body.gpt-markdown .glarity--chatgpt--header {
      margin: -13px -12px 0 0 !important;
      padding-bottom: 10px;
    }

    .glarity--chatgpt--content {
      margin-bottom: 10px;
      line-height: 1.6;
      font-size: 14px;
      letter-spacing: normal !important;
      overflow: hidden auto;

      h5,
      h6 {
        margin: 1em 0 0.5em;
        text-transform: none;
        font-size: 14px;
        letter-spacing: normal !important;
        font-weight: bold;
      }

      blockquote {
        border-left-width: 2px;
        padding: 0 0.5em;
      }
    }
  }
}

// button
.glarity--btn {
  margin: 0;
  padding: 8px 10px;
  line-height: 1;
  font-size: $font-size-normal;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  text-align: center;

  &:disabled {
    cursor: default;
    opacity: 0.5;

    &:hover {
      opacity: 0.5;
    }
  }

  &:hover {
    opacity: 0.9;
  }

  &.glarity--btn__icon {
    color: $secondary-color;
    padding: 0;
    border: none;
    cursor: pointer;
    color: $gray-color;
    background: transparent;

    // &:hover {
    //   color: $primary-color;
    // }
  }

  &.glarity--btn__launch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #144a7f;
    background: #fff;

    img {
      margin: 0;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      filter: blur(0);
    }
  }

  &.glarity--btn__primary {
    color: #fff;
    background: $primary-color;
  }

  &.glarity--btn__primary--ghost {
    color: $primary-color;
    background: #fff;
    border: 1px solid $primary-color;
  }

  &.glarity--btn__block {
    width: 100%;
  }

  &.glarity--btn__large {
    font-size: $font-size-large;
    padding: 8px 16px;
  }

  &.glarity--btn__small {
    font-size: $font-size-small;
    padding: 4px 4px;
  }

  &.glarity--btn__default {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    padding: 0px 4px;
    white-space: nowrap;
    line-height: 18px;
  }
}

// text
.glarity--subtitle {
  font-size: $font-size-small;
  color: #999 !important;
  font-weight: normal;
}

// page--summary
.glarity--page__summary {
  .glarity--move {
    cursor: move;
  }
}

// selection
.glarity--selection__menu {
  position: fixed;
  z-index: 999999;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 3px;
  background-color: $primary-color;
  cursor: pointer;

  &.glarity--selection__menu__hidden {
    top: -99999em !important;
  }
}
.glarity--selection__title {
  display: flex;
  padding: 3px 6px;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
  // background-color: $border-color;

  .glarity--btn__icon {
    svg {
      width: 12px;
    }
  }

  img {
    margin-right: 3px;
    height: 13px;
    width: 13px;
  }

  a {
    display: flex;
    align-items: inherit;
  }
}

// list
.glarity--list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;

  .glarity--list__item {
    display: flex;
    padding: 2px 0;
    margin: 0;
    cursor: pointer;
    border-block-end: 0.5px solid $border-color;

    &:hover {
      background-color: $border-color;
    }

    &:last-child {
      border-block-end: none;
    }
  }
}

// popover
.glarity--popover {
  line-height: 1.6;
  font-size: 12px;
  .glarity--popover-title {
    margin-bottom: 0 !important;
    min-width: auto !important;
    border-block-end: 1px solid $border-color;
  }
  .glarity--popover-content {
    width: 120px !important;
  }

  .glarity--popover-inner {
    padding: 0 !important;

    .glarity--popover-inner-content {
      padding: 0 8px;
      border-radius: 0 0 8px 8px;
      overflow: hidden;
    }
  }

  .glarity--list__item {
    margin: 0 -8px;
    padding: 2px 8px;
  }
}

// reset antd
// .glarity--popover-content {
//   width: 100px !important;
// }
// .glarity--popover-inner {
//   padding: 6px !important;
// }
.glarity--divider-horizontal {
  margin: 15px 0 !important;
}

.glarity--modal-root {
  .glarity--modal-content {
    padding: 15px;
  }
}
.glarity--alert {
  padding: 10px !important;
}

// chat
.glarity--chat {
  padding-bottom: 10px;

  .glarity--chat__item {
    display: flex;
    padding: 8px 15px;
    word-break: break-word;
    font-size: 14px;
    justify-content: flex-start;

    &.glarity--chat__item--user {
      justify-content: flex-end;

      .glarity--chat__item--message {
        color: #fff;
        background-color: $primary-color;
      }
    }
  }

  .glarity--chat__item--message {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #f4f7fe;
    color: #0e0d13;

    pre {
      white-space: pre-wrap;
    }
  }
}

/* blink */
@keyframes glarity-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.glarity--blink {
  animation: glarity-blink 1.2s linear infinite;
}

@keyframes glarity-cursor-blink {
  50% {
    opacity: 0;
  }
}
.glarity--cursor__blink {
  animation: glarity-cursor-blink 0.5s linear infinite;
}

// Dark
@media (prefers-color-scheme: dark) {
  .glarity--card {
    background: rgb(35, 36, 40);
    border-color: #444950;
    box-shadow: 0 3px 9px rgb(255 255 255 / 30%);

    .glarity--card__head {
      border-bottom-color: #444950;
    }
    .glarity--chatgpt--footer {
      border-top-color: #444950;
    }

    .glarity--card__content,
    .glarity--card__head {
      &,
      div,
      p,
      section,
      ul,
      li {
        color: #ccc !important;
      }

      .glarity--chat__item:not(.glarity--chat__item--user) {
        .glarity--chat__item--message {
          color: #444 !important;
        }
      }

      .glarity--card__head--title {
        a {
          color: #ccc;
        }
      }
    }
  }

  .glarity--btn {
    border-color: #444950;

    &.glarity--btn__primary {
      border-color: #999;
    }

    &.glarity--btn__icon {
      color: #999;
    }

    &.glarity--btn.glarity--btn__default {
      border-color: #555;
      background: #444;
    }
  }
}
